.add-city-container {
    max-width: 1000px; /* Maksimum genişliği artır */
    margin: 0 auto;
    padding: 30px; /* İç boşlukları artır */
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Daha belirgin gölge */
    background-color: #34495e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.add-city-container h2 {
    margin-bottom: 30px; /* Başlık altındaki boşluğu artır */
    font-size: 28px; /* Başlık font boyutunu artır */
    color: #ddd; /* Başlık rengi */
}

.add-city-container form {
    display: flex;
    flex-direction: column;
}

.add-city-container label {
    
    margin-bottom: 20px; /* Etiketler arası boşluğu artır */
    font-weight: bold;
    color: #ddd; /* Label rengi */
    font-size: 18px; /* Etiket font boyutunu artır */
}

.add-city-container input[type="text"],
.add-city-container input[type="number"],
.add-city-container textarea {
    width: 100%;
    padding: 15px; /* İç boşlukları artır */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px; /* Font boyutunu artır */
    box-sizing: border-box;
    color: #000; /* Input ve textarea metin rengi */
    background-color: #fff; /* Input ve textarea arka plan rengi */
}

.add-city-container textarea {
    height: 150px; /* Textarea yüksekliğini artır */
    resize: vertical;
}

.add-city-container button {
    padding: 20px 40px !important; /* Buton iç boşluklarını daha fazla artır */
    border: none !important;
    border-radius: 30px !important; /* Köşeleri daha yuvarlak yapmak için */
    background-color: #007bff !important;
    color: #fff !important;
    font-size: 22px !important; /* Font boyutunu artır */
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    margin-right: 15px !important; /* Butonlar arasındaki boşluğu koru */
}

.add-city-container button:hover {
    background-color: #0056b3 !important;
}



.add-city-container .button-container {
    display: flex;
    justify-content: flex-end; /* Butonları sağa hizalar */
    margin-top: 15px; /* Butonların üst boşluğunu artır */
}

.add-city-container .error {
    color: red;
    font-size: 16px; /* Hata mesajı font boyutunu artır */
    margin-top: 15px; /* Hata mesajının üst boşluğunu artır */
    font-weight: bold; /* Hata mesajını vurgular */
}

/* Kapat butonuna özel stil */
.add-city-container button.close-button {
    background-color: #dc3545; /* Kapat butonu için kırmızı renk */
    margin-right: 0; /* Sağdaki boşluğu kaldır */
}

.add-city-container button.close-button:hover {
    background-color: #c82333; /* Hover efekti */
}
